<div class="head">
	<div class="ui container">
		<div class="ui pointing inverted menu">
		  <div class="header item">
		    Themes
		  </div>
		  {% for theme in themes %}
		  <a class="item {{ activeTheme==theme ? 'active' }}" href="IndexController/ct/{{theme}}">
		    {{theme}}
		  </a>
		  {% endfor %}
		</div>
	</div>
</div>
{% extends "InscriptionController/index.html" %}
{%block body%}
 	{% for message in messages %}
 	   <div class = "ui container">	 
 		<div class="ui header">
 			{{message.title}}
 		</div>
 	{% endfor %}
 	<div class ="ui segment">
 		{{content | raw }}
 	</div>
 	</div>
 {%endblock%}
 
 {% extends "InscriptionController/inscription.html" %}
{%block body%}
	<div class = ui form>
		{{message.form}}
	</div>
{% endfor %}
	<div class = ui input>
		{{content | raw }}
	</div>
{%endblock%}
